@charset "UTF-8";

/*COLORS*/
.green, span {
  color: green; }

body {
  background-color: lightgray;
  /*  main {
        background-color: lightgray;
    }*/ }

a {
  color: blue; }

a {
  text-decoration: none; }

a:hover {
  cursor: pointer;
  opacity: 0.5; }

.menu a:hover {
  opacity: 1;
}
.menu a img:hover {
  border: solid blue 4px;
}


/*FONTS*/
html {
  font-size: 10px; }
  html body {
    font-size: 1.8rem; }
    html body h4 {
      font-size: 2rem; }
    html body h3 {
      font-size: 2.2rem; }
    html body h2 {
      font-size: 2.4rem; }
    html body h1 {
      font-size: 2.9rem; }
    html body footer {
      font-size: 1.6rem; }

@media (min-width: 700px) {
  html {
    font-size: 12px; } }

body {
  font-family: 'Roboto', sans-serif; }
  body h1, body h2, body h3, body h4, body nav, body footer {
    font-family: 'Orbitron', sans-serif; }


/*GENERAL*/
body {
  margin: 0;
  text-align: center; }
  body ul {
    padding: 0; }
    body ul li {
      list-style-type: none;
      padding: 1rem; }
  body figure {
    margin-left: 0;
    margin-right: 0; }

/*HEADER*/

@media (min-width: 700px) {
  header div {
    display: flex;
    justify-content: center;
    align-items: baseline; } }

h1, h2 {
  margin-right: 3rem;
  margin-left: 3rem; }


/*FOOTER*/
.logo2 {
  width: 100%;
  max-width: 500px;
  }
.logo1 {
width: 100%;
max-width: 360px;
}
  .nav-principal {
    margin: 0; }
    .nav-principal ul {
      display: flex;
      justify-content: center; }
      .nav-principal ul a {
        border-top: black solid 2px; }
  

.big-div-flex-footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; }
  @media (min-width: 600px) {
    .big-div-flex-footer {
      flex-direction: row; } }

/*usar mixin aquí*/
.small-div-flex-footer {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column; }
  @media (min-width: 1200px) {
    .small-div-flex-footer {
      flex-direction: row; } }

.footer-4-children {
  margin-left: 3rem;
  margin-right: 3rem; }

.icons {
  display: flex;
  justify-content: center; }


/*MAIN INDEX*/
figure img {
  width: 100%;
  max-width: 700px; }

.nav-index {
  display: flex;
  flex-direction: column;
  justify-content: center; }
  @media (min-width: 820px) {
    .nav-index {
      flex-direction: row; } }

@media (min-width: 820px) {
  .nav-index img {
    width: 275px; } }

@media (min-width: 970px) {
  .nav-index img {
    width: 325px; } }

@media (min-width: 1200px) {
  .nav-index img {
    width: 375px; } }

.nav-index a p {
  margin: 0 2rem 4rem; }

.clip {
  clip-path: polygon(0% 10%, 4% 10%, 4% 5%, 8% 5%, 8% 0%, 92% 0%, 92% 5%, 96% 5%, 96% 10%, 100% 10%, 100% 90%, 96% 90%, 96% 95%, 92% 95%, 92% 100%, 8% 100%, 8% 95%, 4% 95%, 4% 90%, 0% 90%);
}

/*MAIN CATEGORÍA & DETALLE & PRESENTACIÓN*/
.menus img, .detalle img {
  max-width: 500px; }



.presentacion p {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

.detalle p, .detalle li, .carta dl {
  text-align: justify;
  margin-left: 10%;
  margin-right: 10%;
}

.enlaces {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.enlaces figure {
  max-width: 400px;
}

.enlaces img {
  clip-path: circle(40% at center);
}

/*TRANSICIONES*/
.platos, #plato {
  position:relative;
  height:400px;
  width:100%;
  margin:0 auto;
}

.platos img, #plato img, #plato picture {
  position:absolute;
    left: 0;
    right: 0;
    bottom: 8%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  transition: opacity 2.5s ease-in-out;
}

.platos img.top:hover, #plato img.top:hover, #plato picture.top:hover {
  opacity:0;
}

/*ANIMACIONES*/
@keyframes lima-limon {
  0% {
    background-color: lightgray;
  }
  33% {
    background-color: blue;
  }
  66% {
    background-color: yellowgreen;
  }
  100% {
    background-color: lightgray;
  }
}

.logo1 {
  animation-duration: 5s;
  animation-name: lima-limon;
  animation-iteration-count: infinite;
}

@keyframes borde {
  0% {
    border: dotted blue 1px;
  }
  33% {
    border: dashed blue 1px;
  }
  66% {
    border: solid blue 1px;
  }
  100% {
    border: dotted blue 1px;
  }
}

.icons img {
  animation-duration: 2s;
  animation-name: borde;
  animation-iteration-count: infinite;
  padding: 1rem;
  border-radius: 10%;

}