body {
    margin: 0;
    text-align: center;
    ul {
        padding: 0;
        li {
        list-style-type: none;
        padding: 1rem;
        }
    }
    figure {
        margin-left: 0;
        margin-right: 0;
        
    }
}