header {
    nav {
        margin: 0;
        ul {
            display: flex;
            justify-content: center;
            a {
                border-top: black solid 2px;
           }
        }
    }
    
}

@media (min-width: 700px) {

   header div {
        display: flex;
        justify-content: space-evenly;
        align-items: baseline;
    }
}

h1, h2 {
    margin-right: 3rem;
    margin-left: 3rem;
}
