/*MAIN CATEGORÍA & DETALLE & PRESENTACIÓN*/

.menus img, .detalle img  {
    max-width: 500px;
}
@mixin justificar {
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    max-width: 1000px;
}



.presentacion p {
    @include justificar();
}

.detalle p, .detalle li, .carta dl  {
    @include justificar();
}
